<body>
  <header>
    <h1>Creador de laberintos</h1>
    <div>
      <a class="btn-red" href="/">Volver</a>
    </div>
  </header>
  <main class="creador">
   <section class="canvasBox">
      <canvas class="canvas"></canvas>
      <canvas class="hover">
        <img src="./img/crosshair.png" id="crosshair">
      </canvas>
   </section>
   <div class="options">
      <section>
        <div class="bordes" onclick="drawBorder()">Bordes</div> 
        <div class="limpiar" onclick="cleanBoard()">Limpiar</div>
        <div class="guardar" onclick="saveMap()">Guardar</div>
      </section>
   </div>
   <section class="tools">
     <div class="start" onclick="setColor('royalblue',1)">Inicio</div>
     <div class="wall activeBtn" onclick="setColor('black',2)">Pared</div>
     <div class="floor"  onclick="setColor('white',3)">Suelo</div>
     <div class="end" onclick="setColor('lightgreen',4)">Meta</div>
   </section>
  </main>
  <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <script>
    /* settings */
    const canvasSize = 600
    const pixelSize = canvasSize / 20
    const mouse = {
      click: false,
      x: 0,
      y: 0,
      color: 'black'
    }
    let boardMap;

  const canvas = document.querySelector('canvas.canvas')
  const ctx = canvas.getContext('2d')
  canvas.width = canvas.height = canvasSize

  class Pixel{
    constructor(x,y,color){
      this.x = x
      this.y = y
      this.color = color == null ? 'white' : color
    }
    draw(){
      ctx.beginPath();
      ctx.rect(this.x,this.y,pixelSize,pixelSize)
      ctx.fillStyle = this.color
      ctx.fill()
      ctx.closePath()
    }
  }


  function filBoard(){
    let board = []
    for (let y = 0; y < 20; y++) {
      for (let x = 0; x < 20; x++) {
        board.push(new Pixel(x*pixelSize,y*pixelSize))
      }
    }
    return board;
  }

  function printBoard(board){
    for (let i = 0; i < board.length; i++) {
      board[i].draw()
    }
  }

  /* hover effect crosshair */
  const canvash = document.querySelector('canvas.hover')
  const ctxh = canvash.getContext('2d')
  canvash.width = canvash.height = canvasSize
  class Crosshair{
    constructor(x,y){
      this.x = y
      this.y = y
    }
    draw(){
      ctxh.drawImage(document.querySelector('#crosshair'), this.x, this.y,pixelSize,pixelSize);
    }
    move(x,y){
      this.x = x
      this.y = y
    }
  }
  crosshair = new Crosshair((canvasSize/2)-pixelSize/2,(canvasSize/2)-pixelSize/2)
  canvash.addEventListener('mousemove',e => {
    const rect = canvash.getBoundingClientRect()
    mouse.x = event.clientX - rect.left
    mouse.y = event.clientY - rect.top
    pos = boardMap.find( n => {
      if( mouse.x >= n.x && mouse.x <= (n.x+pixelSize) && 
        mouse.y >= n.y && mouse.y <= (n.y+pixelSize)){
        return n
      }
    })
    try {
      crosshair.move((pos.x),(pos.y))
    } catch (error) { }
  })
  
  /* click - draw */
  canvash.addEventListener('mousedown',e => {
    const rect = canvash.getBoundingClientRect()
    mouse.x = event.clientX - rect.left
    mouse.y = event.clientY - rect.top
    mouse.click = true

  })
  canvash.addEventListener('mouseup' ,e => {
    mouse.click = false
  })

  function hoverAnimation(){
    requestAnimationFrame(hoverAnimation)
    ctxh.clearRect(0,0,canvash.width,canvash.height)
    crosshair.draw()
    if(mouse.click){
      boardMap.find(n => {
        if( mouse.x >= n.x && mouse.x <= (n.x+pixelSize) && 
        mouse.y >= n.y && mouse.y <= (n.y+pixelSize)){
          if(mouse.color == 'royalblue'){
            boardMap.find(c => {
              if(c.color == 'royalblue'){
                c.color = 'white'
                c.draw()
              }
            })
          }
          if(mouse.color == 'lightgreen'){
            boardMap.find(c => {
              if(c.color == 'lightgreen'){
                c.color = 'white'
                c.draw()
              }
            })
          }
          n.color = mouse.color
          n.draw()
        }
      })  
    }
  }
  
  /* set color */
  function setColor(color,pos){
    mouse.color = color
    sect = document.querySelector('section.tools')
    for (let i = 0; i < 4; i++) {
      if(sect.children[i].classList[1] != undefined) sect.children[i].classList.remove('activeBtn')
    }
    sect.children[pos-1].classList.add('activeBtn')
  }

  /* save map in json */
  function saveMap(){
    cm = {start: false, end: false}
    boardMap.find(n => {
      if(n.color == 'royalblue') cm.start = true
      if(n.color == 'lightgreen') cm.end = true
    })
    if(cm.start && cm.end){
      target = new Image()
      target.src = canvas.toDataURL()
      target.id = 'mapimg'
      document.querySelector('body').appendChild(target);

      fetch('/savemap',{
        method: 'POST',
        body: JSON.stringify({
          user: prompt('Nombre de usuario'),
          map: boardMap,
          img: document.querySelector('#mapimg').src
        }),
        headers:{
          'Content-Type': 'application/json'
        }
      }).then(r => r.json())
        .then(r => {
          window.location.href = '/'
        })
      
    }else{
      Swal.fire(
      'Error',
      'Tienes que poner un inicio y una meta',
      'error'
      )
    }
  }

  /* draw border */
  function drawBorder(){
    board = boardMap.map(n => {
      if( n.x == 0 || n.x == canvasSize-pixelSize ||
          n.y == 0 || n.y == canvasSize-pixelSize
      ){
        n.color = 'black'
        n.draw()
      }
    })
  }

  /* clean board */
  function cleanBoard(){
    board = boardMap.map(n => {
      if(n.color != 'white'){
        n.color = 'white'
        n.draw()
      }
    })
  }

  /* init */
  async function init(){
    boardMap = filBoard()
    printBoard(boardMap)
    hoverAnimation()
  }

  init()
</script>