@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat',sans-serif;
}   
body{
  background: #ffffff;
  display: flex;
  flex-direction: column;
}

main{
  position: relative;
  margin: 50px auto;
  max-width: 100%;
  width: 1500px;
  gap: 30px;
  display: grid;
  grid-template-areas: 
  "header header" "canvas info";
}

header{grid-area: header;}
section.canvasBox{grid-area: canvas;}
.info{grid-area: info;}

.canvas{
  background: rgb(255, 255, 255);
  z-index: 5;
}


img{display: none;}
/* header */

header{
margin: 0 auto;
width: 100%;
display: flex;
justify-content: space-between;
padding: 2px 0px;
border-bottom: 2px solid;
}

header h1{
font-weight: 400;
}

header div{
display: flex;
gap: 15px;
align-items: center;
}

header a {
display: flex;
align-items: center;
justify-content: center;
width: 140px;
height: 30px;
font-weight: 15px;
text-decoration: none;
border-radius: 4px;
color: black;
background-color: rgb(238, 144, 144) ;
font-weight: 500;
}